.grid
  .grid-item
    img(src="http://www.westelm.co.uk/core/media/media.nl?id=79535341&c=3572911&h=21166438d1f63d7549e2&resizeid=16&resizeh=1200&resizew=1200" width="100%")
  .grid-item
    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtP-P8z8_6epWPG8KQT-qMhh0MNJKcQcVbqDQ-6-X_Dds3zFUv" width="100%")


    