meta(charset='UTF-8')
meta(name='description' content='Pinterest clone app')
meta(name='keywords' content='node, js, pinterest, pinventory, pins, crud')
meta(name='author' content='John Martin')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
