doctype html
html
  head
    title="Pinventory"
    include includes/metadata.pug
    include includes/scripts-head.pug
    include includes/styles.pug
  body
    include includes/navbar.pug
    include includes/login.pug
    div.container.mt-5(class="guidelines")
      br
      block content
    include includes/scripts-body.pug