@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

$guidelines: 0 dotted red;

@import 'includes/gradients';
@import 'includes/colors';
@import 'includes/html';
@import 'includes/grids';
@import 'includes/navbar';
@import 'includes/ui';
@import 'includes/m-queries';
@import 'includes/animations';
@import 'includes/profile';
@import 'includes/modal';

.pins-notice {
  position: absolute;
  border: 0px solid red;
  width: 400px;
  height: 100px;
  text-align: center;

  margin-top: 200px;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pins-notice-text {
  animation: fadeIn 1.5s forwards;
  border: 0px solid green;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
