@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css?family=Megrim&display=swap');

.guidelines {
  border: 1px solid #ccc;
}

.logout-container {
  height: 45px;
  position: absolute;
  right: 15px;
  top: 7.5px;
  width: 290px;
  z-index: 5;
}

.login-container {
  height: 45px;
  position: absolute;
  right: 15px;
  top: 7.5px;
  width: 210px;
  z-index: 5;
}

.navbar-brand {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
}
