$col-grad-1-1: #343a40;
$col-grad-1-2: darken($col-grad-1-1, 10%);

@mixin gradient-1 {
  background: $col-grad-1-1; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    $col-grad-1-1 0%,
    $col-grad-1-2 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    $col-grad-1-1 0%,
    $col-grad-1-2 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    $col-grad-1-1 0%,
    $col-grad-1-2 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin gradient-1-lighten($lightenAmount) {
  background: lighten($col-grad-1-1, $lightenAmount); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    lighten($col-grad-1-1, $lightenAmount) 0%,
    lighten($col-grad-1-2, $lightenAmount) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    lighten($col-grad-1-1, $lightenAmount) 0%,
    lighten($col-grad-1-2, $lightenAmount) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    lighten($col-grad-1-1, $lightenAmount) 0%,
    lighten($col-grad-1-2, $lightenAmount) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
